# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments
.venv/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
*.swp

# Logs
*.log

# Packaging
build/
dist/
*.egg-info/